body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inria-serif: "Inria Serif";
  --font-gost-type-au: "GOST Type AU";
  --font-footlight-mt-light: "Footlight MT Light";
  --font-gost-common: "GOST Common";
  --font-cormorant-garamond: "Cormorant Garamond";
  --font-graduate: Graduate;
  --font-frank-ruhl-libre: "Frank Ruhl Libre";
  --font-istok-web: "Istok Web";
  --font-inherit: inherit;
  --font-inconsolata: Inconsolata;

  /* font sizes */
/*  --font-size-xl: 15px;
  --font-size-6xl: 20px;
  --font-size-11xl: 30px;
  --font-size-26xl: 45px;
  --font-size-16xl: 35px;
  --font-size-31xl: 50px;*/
  --font-size-xl: clamp(10px, 1.5vw, 15px);
  --font-size-6xl: clamp(15px, 2vw, 20px);
  --font-size-11xl: clamp(25px, 1.5vw, 30px);
  --font-size-26xl: clamp(40px, 4.5vw, 55px);
  --font-size-16xl: clamp(30px, 3.5vw, 40px);
  --font-size-31xl: clamp(45px, 5vw, 55px);

  /* Colors */
  --color-gainsboro: #dbddde;
  --color-white: #fff;
  --color-darkslategray-100: #3b3b3c;
  --color-black: #000;

  /* Gaps */
  --gap-3xs: 10px;

  /* Paddings */
  --padding-28xl: 47px;

  /* Border radiuses */
  --br-7xs: 6px;
  --br-58xl: 77px;
  --br-16xl: 35px;
}
