<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Олмих</title>
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Frank+Ruhl+Libre:wght@700&family=Graduate&family=Inconsolata:wght@900&family=Inria+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="glavnaya1.css" />
</head>
<body>
<footer class="footer text-white pb-2">
    <div class="container-fluid custom-padding">
        <nav class="navbar navbar-expand-lg">
            <div class="navbar-nav w-100 d-flex custom-navbar">
                <a class="nav-item nav-link" href="#">О компании</a>
                <a class="nav-item nav-link" href="#">Фотогалерея</a>
                <a class="nav-item nav-link" href="#">Обратная связь</a>
                <a class="nav-item nav-link" href="#">Доставка</a>
                <a class="nav-item nav-link" href="#">Контакты</a>
                <a class="nav-item nav-link" href="#">Статьи</a>
                <a class="nav-item nav-link" href="#">Наши клиенты</a>
            </div>
        </nav>
        <div class="hr-line"></div>
        <div class="row pt-3">
            <div class="col-md-4 order-1">
                <p class="mb-0">Интернет-магазин ОЛМИХ, 1995 - 2023</p>
                <ul class="list-unstyled">
                    <li>Политика конфиденциальности</li>
                    <li>Согласие на обработку персональных данных</li>
                    <li>Полезные статьи</li>
                    <li>Руководства по эксплуатации</li>
                </ul>
            </div>
            <div class="col-md-3 order-2 custom-order-pad-2">
                <p>Тел: 8(495) 366-39-92</p>
                <p>Факс: 8(495) 365-19-16</p>
                <p class="bi bi-telegram">  +7 (916) 147-58-39</p>
                <p class="bi bi-whatsapp">  +7 (910) 471-46-52</p>
                <p>E-mail: info@olmih.ru</p>
            </div>
            <div class="col-md-3 order-3 custom-order-pad-3">
                <p>Часы работы:</p>
                <p>С 9:00 до 17:00 по будням</p>
                <p>ООО "ОЛМИХ"</p>
                <p>г. Москва ул. Окружной проезд д. 18</p>
            </div>
            <div class="col-md-2 d-flex  order-4">
                <img
                        src="/kartinkiglavnaya/image-31@2x.png"
                        alt="Phone"
                        class="img-fluid custom-img-footer"
                />
            </div>
        </div>
    </div>
</footer>
</body>