<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Олмих</title>
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Frank+Ruhl+Libre:wght@700&family=Graduate&family=Inconsolata:wght@900&family=Inria+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="glavnaya1.css" />
</head>
<body>

<nav class="navbar navbar-expand-lg custom-bg-color">
    <div class="navbar-nav mx-auto">
        <a class="nav-item nav-link nav-link-custom-color-grey" href="#">О компании</a>
        <a class="nav-item nav-link nav-link-custom-color-grey" href="#">Фотогалерея</a>
        <a class="nav-item nav-link nav-link-custom-color-grey" href="#">Обратная связь</a>
        <a class="nav-item nav-link nav-link-custom-color-grey" href="#">Доставка</a>
        <a class="nav-item nav-link nav-link-custom-color-grey" href="#">Контакты</a>
        <a class="nav-item nav-link nav-link-custom-color-grey" href="#">Статьи</a>
        <a class="nav-item nav-link nav-link-custom-color-grey" href="#">Наши клиенты</a>
    </div>
</nav>

<div class="main-head-wrap" style="background-image: url('kartinkiglavnaya/-1@2x.png');  background-repeat: no-repeat; background-position: top; margin: 0 1%;">
    <div class="row pt-3">
        <div class="col-md-3 text-center center-when-min">
            <img class="img-fluid-header" alt="" src="/kartinkiglavnaya/@2x.png" />
        </div>
        <div class="col-md-3" style="margin-top: 2%">
            <p class="header-end-text" style="text-align: center">Когда точность на первом месте!</p>
            <p class="header-phone" style="text-align: center">Звоните в Рабочее Время</p>
            <p class="header-phone-number" style="text-align: center">8 (495) 366-39-92</p>
            <p class="header-phone-number" style="text-align: center">8 (910) 471-46-52</p>
        </div>
        <div class="header-between-info col-md-3">
            <p style="text-align: center">Гарантия</p>
            <p style="text-align: center">Качества</p>
            <p style="text-align: center">100%</p>
        </div>
        <div class="col-md-3 custom-padding-from-quality center-screen" style="margin-bottom: 2%">
            <div class="header-social-icons" style="margin: 0 auto">
                <div style="text-align: center"><i class="bi bi-telegram"></i> +7 (916) 147-58-39</div>
            </div>
            <div class="header-social-icons">
                <div style="text-align: center"><i class="bi bi-whatsapp"></i> +7 (910) 471-46-52</div>
            </div>
            <div class="header-working-hours-time">
                <div style="text-align: center">Часы Работы:</div>
            </div>
            <div class="header-working-hours-time">
                <div style="text-align: center">с 9.00 до 17.00 по будням</div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark custom-bg-color-grey">
    <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
        <div class="navbar-nav">
            <a class="nav-item nav-link nav-link-custom-color" style="text-align: center" href="/katalog.html"
            >Каталог весов</a
            >
            <a class="nav-item nav-link nav-link-custom-color" style="text-align: center" href="#"
            >Ремонт весов</a
            >
            <a class="nav-item nav-link nav-link-custom-color" style="text-align: center" href="#"
            >Тех.обслуживание весов</a
            >
            <a class="nav-item nav-link nav-link-custom-color" style="text-align: center" href="#"
            >Проверка весов</a
            >
            <a class="nav-item nav-link nav-link-custom-color" style="text-align: center" href="#"
            >Калибровка весов</a
            >
        </div>
    </div>
</nav>
</body>