<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Олмих</title>
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Frank+Ruhl+Libre:wght@700&family=Graduate&family=Inconsolata:wght@900&family=Inria+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="glavnaya1.css" />
</head>
<body>

<nav class="navbar navbar-expand-lg custom-bg-color">
    <div class="navbar-nav mx-auto">
        <a class="nav-item nav-link nav-link-custom-color-grey" href="#">О компании</a>
        <a class="nav-item nav-link nav-link-custom-color-grey" href="#">Фотогалерея</a>
        <a class="nav-item nav-link nav-link-custom-color-grey" href="#">Обратная связь</a>
        <a class="nav-item nav-link nav-link-custom-color-grey" href="#">Доставка</a>
        <a class="nav-item nav-link nav-link-custom-color-grey" href="#">Контакты</a>
        <a class="nav-item nav-link nav-link-custom-color-grey" href="#">Статьи</a>
        <a class="nav-item nav-link nav-link-custom-color-grey" href="#">Наши клиенты</a>
    </div>
</nav>

<div class="container-fluid py-3 main-container-fluid-custom-bg background-image">
    <div class="row pt-3">
        <div class="col-3 text-center center-when-min">
            <img class="img-fluid-header" alt="" src="/kartinkiglavnaya/@2x.png" />
        </div>
        <div class="col-4 text-end custom-space hide-until-large">
            <p class="header-end-text">Когда точность на первом месте!</p>
            <p class="header-phone">Звоните в Рабочее Время</p>
            <p class="header-phone-number">8 (495) 366-39-92</p>
            <p class="header-phone-number">8 (910) 471-46-52</p>
        </div>
        <div class="header-between-info hide-until-large">
            <p>Гарантия</p>
            <p>Качества</p>
            <p>100%</p>
        </div>
        <div class="col-3 text-start custom-padding-from-quality hide-until-large">
            <div class="header-social-icons">
                <span><i class="bi bi-instagram"></i> olmih.ru</span>
            </div>
            <div class="header-social-icons">
                <span><i class="bi bi-telegram"></i> Nvdkd</span>
            </div>
            <div class="header-working-hours-time">
                <span>Часы Работы:</span>
            </div>
            <div class="header-working-hours-time">
                <span>с 9.00 до 17.00 по будням</span>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark custom-bg-color-grey">
    <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
        <div class="navbar-nav">
            <a class="nav-item nav-link nav-link-custom-color" href="/katalog.html"
            >Каталог весов</a
            >
            <a class="nav-item nav-link nav-link-custom-color" href="#"
            >Ремонт весов</a
            >
            <a class="nav-item nav-link nav-link-custom-color" href="#"
            >Тех.обслуживание весов</a
            >
            <a class="nav-item nav-link nav-link-custom-color" href="#"
            >Проверка весов</a
            >
            <a class="nav-item nav-link nav-link-custom-color" href="#"
            >Калибровка весов</a
            >
        </div>
    </div>
</nav>
</body>